{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Editar Perfil</h2>
    <form method="POST" action="{{ url_for('auth.profile') }}">
        {{ form.hidden_tag() }}
        
        <div class="mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="Nuevo Username") }}
        </div>
        
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder="Nuevo Correo Electrónico") }}
        </div>
        
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="Nueva Contraseña") }}
        </div>
        
        <div class="mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control", placeholder="Confirmar Contraseña") }}
        </div>
        
        <button type="submit" class="btn btn-primary">{{ form.submit.label.text }}</button>
    </form>
</div>
{% endblock %}

